singularity {
    enabled = true
    cacheDir = "path/to/cache_dir"    //cached files created by the pipeline will be stored here
    runOptions = "--bind $PWD"
    autoMounts = true
}
process {
    executor="slurm"    //use "slurm" to use slurm workload manager or "local" when you want to run the pipeline locally
    container="/path/to/singularity/container/hg19hg38.sif"    //singularity container with OUTRIDER, FRASER, MAE (including dependencies). Can be downloaded from library://timniem/rna_outliers/test:hg19hg38.
    errorStrategy = 'ignore'
    containerOptions = "--bind ${projectDir}"
}
params {
    genomeReferenceBuild = "hg38"    //replace with "hg19" in case genome build hg19 is used
    featurecounts {
        genes_gtf="path/to/gencode.v29.annotation.gtf"    //used in manuscript and downloaded from https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_29/
    }
    extcounts {
        folder="/path/to/directory/with/external_counts"    //a directory has to be specified. Examples of external counts can be downloaded from https://zenodo.org/records/5638707 (counts based on alignment to hg19) and https://zenodo.org/records/6078397 (counts based on alignment to hg38). When no external counts are used, keep amount_outrider equal to 0 and amount_fraser equal to 0
        amount_outrider=0
        amount_fraser=0
    }
    samplesheet="/path/to/samplehseet.tsv" //see example_samplesheet.tsv
    fastafolder="path/to/folder/with/fasta/files/for/reference/genome"
    fasta="/path/to/GRCh37.primary_assembly.genome.fa"    //(used in manuscript and downloaded from https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_29/)
    output="/path/to/output/directory"    //this directory specifies where the output from the RNA outlier pipeline are stored
    
    fraser {
        frasercountsR="${projectDir}/fraser/frasercounts.R"
        mergescriptR="${projectDir}/fraser/merge_counts.R"
        fraserR="${projectDir}/fraser/fraser.R"
    }
    outrider {
        outridercountsR="${projectDir}/outrider/featurecounts.R"
        mergecountsR="${projectDir}/outrider/mergecounts.R"
        outriderDatasetR="${projectDir}/outrider/create_outrider_dataset.R"
        outriderOptimR="${projectDir}/outrider/outrider_optim.R"
        mergeQFiles="${projectDir}/outrider/merge_qfiles.R"
        outriderR="${projectDir}/outrider/outrider.R"
    }
    mae {
        resultsR="${projectDir}/MAE/get_MAE_results.R"
    }
    
}

workDir="${params.output}/work"
